* {
  padding: 0;
  margin: 0;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsl(273, 75%, 66%)),
      to(hsl(240, 73%, 65%))
    )
    fixed;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(237, 12%, 33%);
}

.container {
  margin: 150px auto;
  width: 1200px;
  height: 600px;
  display: flex;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: -225% 50%;
  background-color: #fff;
  border-radius: 0.8em;
}

.faq,
.imagens {
  width: 600px;
}

.faq {
  margin: 120px 60px 150px 120px;
}

.faq dt,
dd {
  padding-top: 30px;
}

.faq dt:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.faq dd {
  display: none;
}

.faq dd.ativo {
  display: block;
  padding-top: 10px;
}

.faq dt.ativo {
  color: hsl(238, 29%, 16%);
  font-weight: bold;
}

.faq dt::after {
  content: "˅";
  color: hsl(14, 88%, 65%);
  font-weight: bold;
  float: right;
  margin-right: 180px;
  margin-top: -5px;
}

.faq dt.ativo::after {
  content: "˄";
}

.faq h1 {
  font-size: 40px;
  font-weight: 700;
}

.ativo {
  display: block;
}

.imagens {
  display: flex;
  margin: 0 auto;
}

.mulher {
  position: absolute;
  width: 500px;
  height: 450px;
  margin: 50px auto auto 0;
  z-index: 1;
  object-fit: cover;
  object-position: right;
}

.box {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 2;
  margin: 220px auto auto -170px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: #fff;
  text-decoration: none;
}
